html { /* 1rem = 10px */
  font-size: 62.5%;
}

/* reseteo de espacios a los lados y hacia adentro de las cajas */
* {
  margin: 0;
  padding: 0%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}

/* DESKTOP FIRST */
body {
  font-family: "Roboto", sans-serif;
}

#grilla-body {
  background-color: #eaeaea;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.logo:hover {
  transform: scale(1.2);
}

#grilla-body {
  display: grid;
  grid-template-areas: "header header header" "productos productos productos" "banner banner banner" "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

#grilla-header {
  background-color: #005f6f;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0rem;
}

@media screen and (max-width: 767px) {
  #grilla-header {
    flex-direction: column;
  }
}
#flex-navegacion {
  display: flex;
  gap: 1rem;
}
#flex-navegacion li {
  background-color: #1f53c5;
  padding: 0.4rem;
}

#flex-navegacion li:hover {
  background-color: #239bae;
}

@media screen and (max-width: 399px) {
  #flex-navegacion {
    flex-direction: column;
  }
}
#grillas-productos {
  grid-area: productos;
}

/* footer */
#footer {
  background-color: aqua;
  grid-area: footer;
  font-size: 2rem;
  text-align: center;
  background-color: #239bae;
}

#footer img {
  width: 5rem;
  height: 5rem;
}

/* Formulario */
.imagenfondo {
  margin: 0;
  padding: 0;
  background-image: url(../img/Fondo.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.formulario-resp {
  display: flex;
}

.formulario {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-size: 2rem;
  color: #80acbc;
}

.formulario h3 {
  margin-bottom: 10px;
  text-align: center;
}

.formulario label {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

.formulario .control {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  color: white;
}

.ajuste {
  margin-bottom: 10px;
  align-items: center;
}

.botonesf {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin-bottom: 16px;
  margin-top: 16px;
}

.mapa {
  box-align: center;
}

.mapa {
  margin-top: 5rem;
  margin-left: 105rem;
  margin-bottom: 5rem;
}

.texto-largo {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

/*cards*/
.padre-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
}

@media screen and (max-width: 992px) {
  .padre-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .padre-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cards {
  width: 25rem;
  height: 25rem;
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.cards img {
  height: 15rem;
  width: 12rem;
}
.cards p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.boton {
  margin-bottom: 1rem;
}

.boton:hover {
  transform: scale(1.3);
}

#grillas-info {
  grid-area: productos;
}
#grillas-info h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
#grillas-info p {
  font-size: 3rem;
  margin-bottom: 10rem;
  color: white;
}

p, h2 {
  text-align: center;
  font-size: 3rem;
}

/*seccion informacion*/
.fondo-info {
  background-color: #24303c;
}

.contenedores-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contenedores-informacion p {
  font-size: 5rem;
}

.contenedores-informacion:nth-of-type(2) {
  background-color: #334655;
}

@media screen and (min-width: 992px) {
  .contenedores-informacion {
    flex-direction: row;
  }
}
.contenedores-informacion img {
  height: 200px;
}

/*banner*/
#banner {
  grid-area: banner;
  background-color: #eaeaea;
}
#banner h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.padre-banners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.banner-caracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.banner-caracteristicas h3 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.banner-caracteristicas p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .padre-banners {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .padre-banners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
