  /* footer */
  #footer {
    background-color: aqua;
    grid-area: footer;
    font-size: 2rem;
    text-align: center;
    background-color: #239bae;
  }
  
  #footer img {
    width: 5rem;
    height: 5rem;
  }
  